@use 'variables';

.nav {
    background-color: variables.$fundoPreto;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__image {
            max-width: 52px;
            margin-left: 16px;
        }

        &__button {
            margin-right: 16px;
        }
    }
}